## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME', 'SPECIAL_CONSIDERATIONS'], axis=1)

In [ ]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()

print(unique_value_counts)

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 200

# use the variable name `application_types_to_replace`
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_above_1 = classification_counts[classification_counts > 1]
print(classification_counts_above_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 200

# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in the DataFrame
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check the value counts after binning
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values

In [ ]:
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

In [ ]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=80
hidden_nodes_layer2=30

model = tf.keras.models.Sequential()

# First hidden layer
model.add(tf.keras.layers.Input(shape=(X_train_scaled.shape[1],)))

# First hidden layer with dropout
model.add(tf.keras.layers.Dense(units=128, activation='relu'))
model.add(tf.keras.layers.Dropout(0.3))

# Second hidden layer with dropout
model.add(tf.keras.layers.Dense(units=64, activation='relu'))
model.add(tf.keras.layers.Dropout(0.3))

# Output layer
model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Early stopping
early_stopping = tf.keras.callbacks.EarlyStopping(patience=10, restore_best_weights=True)

# Train the model
history = model.fit(X_train_scaled, y_train, epochs=100, batch_size=64,
                    validation_data=(X_test_scaled, y_test),
                    callbacks=[early_stopping])

# Evaluate the model
test_loss, test_accuracy = model.evaluate(X_test_scaled, y_test)
print("Test Accuracy:", test_accuracy)

Epoch 1/100
429/429 [==============================] - 4s 5ms/step - loss: 0.5828 - accuracy: 0.7106 - val_loss: 0.5709 - val_accuracy: 0.7197
Epoch 2/100
429/429 [==============================] - 3s 6ms/step - loss: 0.5558 - accuracy: 0.7276 - val_loss: 0.5713 - val_accuracy: 0.7166
Epoch 3/100
429/429 [==============================] - 2s 4ms/step - loss: 0.5527 - accuracy: 0.7292 - val_loss: 0.5600 - val_accuracy: 0.7267
Epoch 4/100
429/429 [==============================] - 2s 4ms/step - loss: 0.5499 - accuracy: 0.7312 - val_loss: 0.5591 - val_accuracy: 0.7286
Epoch 5/100
429/429 [==============================] - 2s 4ms/step - loss: 0.5494 - accuracy: 0.7317 - val_loss: 0.5594 - val_accuracy: 0.7276
Epoch 6/100
429/429 [==============================] - 3s 6ms/step - loss: 0.5486 - accuracy: 0.7324 - val_loss: 0.5596 - val_accuracy: 0.7267
Epoch 7/100
429/429 [==============================] - 2s 5ms/step - loss: 0.5471 - accuracy: 0.7341 - val_loss: 0.5592 - val_accuracy: 0.7242
Epoch 8/100
429/429 [==============================] - 3s 6ms/step - loss: 0.5462 - accuracy: 0.7329 - val_loss: 0.5550 - val_accuracy: 0.7296
Epoch 9/100
429/429 [==============================] - 2s 5ms/step - loss: 0.5459 - accuracy: 0.7336 - val_loss: 0.5586 - val_accuracy: 0.7271
Epoch 10/100
429/429 [==============================] - 2s 4ms/step - loss: 0.5452 - accuracy: 0.7349 - val_loss: 0.5551 - val_accuracy: 0.7270
Epoch 11/100
429/429 [==============================] - 2s 4ms/step - loss: 0.5449 - accuracy: 0.7337 - val_loss: 0.5545 - val_accuracy: 0.7289
Epoch 12/100
429/429 [==============================] - 2s 4ms/step - loss: 0.5454 - accuracy: 0.7347 - val_loss: 0.5580 - val_accuracy: 0.7283
Epoch 13/100
429/429 [==============================] - 2s 4ms/step - loss: 0.5441 - accuracy: 0.7338 - val_loss: 0.5537 - val_accuracy: 0.7303
Epoch 14/100
429/429 [==============================] - 2s 5ms/step - loss: 0.5455 - accuracy: 0.7334 - val_loss: 0.5562 - val_accuracy: 0.7299
Epoch 15/100
429/429 [==============================] - 3s 6ms/step - loss: 0.5432 - accuracy: 0.7349 - val_loss: 0.5561 - val_accuracy: 0.7257
Epoch 16/100
429/429 [==============================] - 2s 4ms/step - loss: 0.5433 - accuracy: 0.7341 - val_loss: 0.5547 - val_accuracy: 0.7289
Epoch 17/100
429/429 [==============================] - 2s 4ms/step - loss: 0.5421 - accuracy: 0.7352 - val_loss: 0.5585 - val_accuracy: 0.7249
Epoch 18/100
429/429 [==============================] - 2s 4ms/step - loss: 0.5419 - accuracy: 0.7364 - val_loss: 0.5545 - val_accuracy: 0.7273
Epoch 19/100
429/429 [==============================] - 2s 4ms/step - loss: 0.5417 - accuracy: 0.7358 - val_loss: 0.5558 - val_accuracy: 0.7283
Epoch 20/100
429/429 [==============================] - 2s 4ms/step - loss: 0.5411 - accuracy: 0.7356 - val_loss: 0.5593 - val_accuracy: 0.7290
Epoch 21/100
429/429 [==============================] - 2s 5ms/step - loss: 0.5416 - accuracy: 0.7358 - val_loss: 0.5547 - val_accuracy: 0.7280
Epoch 22/100
429/429 [==============================] - 3s 6ms/step - loss: 0.5417 - accuracy: 0.7364 - val_loss: 0.5540 - val_accuracy: 0.7289
Epoch 23/100
429/429 [==============================] - 2s 4ms/step - loss: 0.5414 - accuracy: 0.7355 - val_loss: 0.5553 - val_accuracy: 0.7273
215/215 [==============================] - 0s 2ms/step - loss: 0.5537 - accuracy: 0.7303
Test Accuracy: 0.7303206920623779

In [ ]:
# Export our model to HDF5 file
from google.colab import files

model.save('AlphabetSoupCharity.h5')
files.download('AlphabetSoupCharity.h5')